<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#explore" class="skip-to-content">Menuju ke konten</a>
    <header>
      <app-bar></app-bar>
    </header>
    <hero-element></hero-element>
    <main id="explore">
      <restaurants-list></restaurants-list>
    </main>
    <footer>
      <foot-bar></foot-bar>
    </footer>
  </body>
</html>
