<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="manifest" href="./app.webmanifest" />
    <meta name="theme-color" content="#252f33" />
    <link rel="apple-touch-icon" href="/icons/192-192.png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles/main.min.css">
    <script src="333.bundle.js" defer></script>
  <body>
    <a href="#explore" class="skip-to-content">Menuju ke konten</a>
    <header>
      <app-bar></app-bar>
    </header>
    <main id="explore" tabindex="0"></main>
    <footer>
      <foot-bar></foot-bar>
    </footer>
  </body>
</html>
